<div class="file-list-item">
  <div class="file-list-item-desc">
    <div class="file-list-item-title">{{ $ctrl.file.name }}</div>
    <ul class="file-list-item-info">
      <li ng-if="$ctrl.isHTML5">
        {{ $ctrl.file.size / 1024 | number : 2 }} KB
      </li>
      <li>{{ $ctrl.file.datetime | date:'yyyy-MM-dd HH:mm:ss' }}</li>
    </ul>
  </div>

  <div class="file-list-item-tools">
    <button
      type="button"
      class="btn btn-default btn-sm btn-squared"
      ng-click="$ctrl.open($index)"
    >
      <i class="far fa-eye"></i>
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm btn-squared"
      ng-click="$ctrl.onDelete($index)"
    >
      <i class="fa fa-xmark"></i>
    </button>
  </div>
</div>
