@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-path}proxima/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('#{$font-path}proxima/Proxima Nova Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('#{$font-path}proxima/ProximaNova-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova SemiBold';
  src: url('#{$font-path}proxima/Proxima-Nova-Sbold.otf') format('opentype');
}
